.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.ck-editor__editable_inline {
  min-height: 150px;
}

table {
  color: #71ccdf !important;
  width: 100%;
}

td {
  width: 50%;
}

td[colspan]:not([colspan="1"]) {
  text-align: center;
}

table,
th,
td {
  border: 1px solid;
}
